*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family:sans-serif;
}
body{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, .1) 0%, rgba(89, 99, 212, 0.01) 35%, rgba(0, 212, 255, .04) 100%);
}

#heading{
    margin: 20px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
     color:black;
}
#one {
    color: white;
    background: rgb(131, 78, 250);
    background: linear-gradient(0deg, rgba(131, 58, 250, 1) 0%, rgba(107, 89, 204, 1) 72%, rgba(99, 99, 212, 1) 96%, rgba(89, 99, 206, 1) 98%, rgba(89, 99, 212, 0.01) 100%, rgba(252, 176, 69, 1) 100%);
    font-size: x-large;
    font-weight: 600;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#two {
    width: 100%;
    color: blue;
    font-size: xxx-large;
    text-align: center;
    display: grid;
    grid-template-areas:
        "one two three"
        "four five seven"
        "eight nine ten";
 gap:40px;
}
.step1{
    background: rgb(131, 78, 250);
    background: linear-gradient(0deg, rgba(131, 58, 250, 1) 0%, rgba(107, 89, 204, 1) 72%, rgba(99, 99, 212, 1) 96%, rgba(89, 99, 206, 1) 98%, rgba(89, 99, 212, 0.01) 100%, rgba(252, 176, 69, 1) 100%);
    border: 2px solid black;
    height: 80px;
    width: 300px;
    font-size: x-large;
    font-weight: 600; 
    border-radius:5px;
}
#three {
    grid-area: one;
    padding: 5px;
}

a {
    color: white;
    text-decoration: none;
}

#four {
    grid-area: two;
    padding: 5px;
}

#five {
    grid-area: three;
    padding: 5px;
}

#six {
    grid-area: four;
    padding: 5px;
}


#seven {
    grid-area: five;
    padding: 5px;
}

#eight {
    grid-area: six;
    padding: 5px;
}

#nine {
    grid-area: seven;
    padding: 5px;
}

#ten {
    grid-area: eight;
    padding: 5px;
}

#ten1 {
    grid-area: nine;
    padding: 5px;
}

#ten3 {
    grid-area: ten;
    padding: 5px;
}

.step1:hover{
    transform: scale(1.1);
}
@media(max-width:1290px){
    #two{
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        
    }

}
